
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-Wt3 {
  box-sizing: border-box;
  padding: 2.2rem 9.6rem 5rem 9.8rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-Pgw {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 37.7rem 3.1rem 7.6rem;
    width: calc(100% - 45.3rem);
    height: 8.9rem;
    overflow: hidden;

    .image-1-G8T {
      width: 11.7rem;
      height: 8.9rem;
      position: relative;
      background-size: 100% 130.92%;
      background-position: -0rem -0.6383rem;
      background-image: url('REPLACE_IMAGE:6e4bcacaf141149e7a30ca8b3c4c260a2fc8bf4a');
      flex-shrink: 0;
    }
    .auto-group-upkj-Y5y {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.1rem 0rem 1rem 2rem;
      height: 100%;
      display: flex;
      align-items: center;

      .component-1-TTq {
        font-size: 3.2rem;
        letter-spacing: -0.032rem;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
        margin-right: 13.7rem;
        box-sizing: border-box;
        padding-left: 0.3rem;
        width: 9.8rem;
        white-space: nowrap;
        flex-shrink: 0;
        height: 100%;
        font-weight: 500;
        line-height: 1;
      }
      .home-7oH {
        margin: 0rem 4.6rem 2.1rem 0rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.2999999523;
        color: #000000;
        flex-shrink: 0;
      }
      .services-cV9 {
        font-weight: 400;
        line-height: 1.2999999523;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.6rem 2.1rem 0rem;
        display: flex;
      }
      .newsletter-vkj {
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 4.6rem 2.1rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .what-we-do-RBh {
        margin-bottom: 2.1rem;
        align-items: center;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #000000;
        white-space: nowrap;
      }
    }
  }
  .auto-group-cfnb-jCP {
    height: 20.4rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 12.9rem 6.9rem 16.9rem;
    width: calc(100% - 29.8rem);

    .were-navigating-the-shadows-where-your-vision-fades-FAj {
      top: 5rem;
      font-weight: 400;
      line-height: 1.2000000477;
      color: #000000;
      width: 92rem;
      height: 15.4rem;
      position: absolute;
      letter-spacing: -0.128rem;
      font-family: Newsreader, 'Source Sans Pro';
      left: 0;
      text-align: center;
      font-size: 6.4rem;

      .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-0 {
      }
      .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-1 {
        letter-spacing: -0.128rem;
        font-style: italic;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.2000000477;
      }
      .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-2 {
      }
      .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-3 {
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.2000000477;
        letter-spacing: -0.128rem;
        font-style: italic;
      }
      .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-4 {
      }
      .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-5 {
        font-weight: 400;
        line-height: 1.2000000477;
        letter-spacing: -0.128rem;
        font-style: italic;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
        font-size: 6.4rem;
      }
    }
    .frame-1-Kbq {
      height: 10rem;
      position: absolute;
      left: 84.8rem;
      top: 0;
      overflow: hidden;
      width: 10rem;
    }
  }
  .newsletter-page-rbm {
    font-family: Inter, 'Source Sans Pro';
    margin: 0rem 0.1rem 6.9rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 1.2999999523;
    color: #000000;
    font-weight: 400;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .screenshot-2024-01-13-112006-1-xuh {
    height: 73.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 36.8rem;
    flex-shrink: 0;
    margin: 0rem 0.2rem 30.7rem 0rem;
    width: 73.6rem;
  }
  .thanks-for-subscribing--f3R {
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.2000000477;
    color: #000000;
    margin: 0rem 0.2rem 30.8rem 0rem;
    text-align: center;
    letter-spacing: -0.128rem;
    font-family: Newsreader, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .description-9zB {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.375;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0.3rem 5.8rem 0rem;
  }
  .auto-group-xmqd-gDR {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .frame-38-2HH {
      flex-shrink: 0;
      margin: 0.4rem 29.7rem 0rem 0rem;
      display: flex;
      column-gap: 0.8rem;
      align-items: center;

      .item--MaT {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .description-g6w {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .description-RKR {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
      }
      .description-y63 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .social-media-7i3 {
      align-items: center;
      flex-shrink: 0;
      margin: 0.4rem 27rem 0rem 0rem;
      box-sizing: border-box;
      padding-right: 0.0762rem;
      display: flex;

      .instagram-Enf {
        flex-shrink: 0;
        margin-right: 3.2rem;
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .twitter-AwD {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.2738rem;
        width: 2.4rem;
        height: 1.95rem;
      }
      .linkedin-6ps {
        width: 2.25rem;
        height: 2.1506rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0056rem;
      }
    }
    .auto-group-wfqu-2iX {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 13.4rem;
      height: 2.6rem;
      font-size: 1.6rem;
      line-height: 1.375;
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 0.2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
  }
}
