
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-BNK {
  background-color: #ffffff;
  width: 100%;
  height: 209.2rem;
  position: relative;
  overflow: hidden;

  .auto-group-jrgp-uZD {
    left: 26.7rem;
    top: 14.2rem;
    width: 94.8rem;
    height: 20.4rem;
    position: absolute;

    .were-navigating-the-shadows-where-your-vision-fades-b4f {
      position: absolute;
      top: 5rem;
      text-align: center;
      font-size: 6.4rem;
      color: #000000;
      font-family: Newsreader, 'Source Sans Pro';
      width: 92rem;
      height: 15.4rem;
      left: 0;
      font-weight: 400;
      line-height: 1.2000000477;
      letter-spacing: -0.128rem;

      .were-navigating-the-shadows-where-your-vision-fades-b4f-sub-0 {
      }
      .were-navigating-the-shadows-where-your-vision-fades-b4f-sub-1 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.2000000477;
        letter-spacing: -0.128rem;
        font-style: italic;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
      }
      .were-navigating-the-shadows-where-your-vision-fades-b4f-sub-2 {
      }
      .were-navigating-the-shadows-where-your-vision-fades-b4f-sub-3 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.2000000477;
        letter-spacing: -0.128rem;
        font-style: italic;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
      }
      .were-navigating-the-shadows-where-your-vision-fades-b4f-sub-4 {
      }
      .were-navigating-the-shadows-where-your-vision-fades-b4f-sub-5 {
        letter-spacing: -0.128rem;
        font-style: italic;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.2000000477;
      }
    }
    .frame-1-pNf {
      left: 84.8rem;
      top: 0;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      position: absolute;
    }
  }
  .auto-group-5zd1-X2B {
    width: 124.6rem;
    height: 2.8rem;
    position: absolute;
    left: 9.8rem;
    top: 201.4rem;
    display: flex;
    align-items: flex-end;

    .frame-38-1T9 {
      align-items: center;
      flex-shrink: 0;
      margin: 0.4rem 29.7rem 0rem 0rem;
      display: flex;
      column-gap: 0.8rem;

      .item--va7 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1;
        color: #000000;
      }
      .description-SHZ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
      }
      .description-NBD {
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .description-JqZ {
        font-weight: 400;
        line-height: 1.375;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .social-media-3HM {
      margin: 0.4rem 27rem 0rem 0rem;
      box-sizing: border-box;
      padding-right: 0.0762rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .instagram-MYw {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.2rem;
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
      }
      .twitter-5jq {
        margin-right: 3.2738rem;
        width: 2.4rem;
        height: 1.95rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .linkedin-CJf {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0056rem;
        width: 2.25rem;
        height: 2.1506rem;
        position: relative;
        object-fit: contain;
      }
    }
    .auto-group-bvfz-vkT {
      height: 2.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.2rem;
      box-sizing: border-box;
      line-height: 1.375;
      flex-shrink: 0;
      padding-left: 13.4rem;
      font-size: 1.6rem;
    }
  }
  .header-RBR {
    left: 17.4rem;
    top: 2.2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 79.3rem;
    height: 8.9rem;
    position: absolute;

    .image-1-M55 {
      width: 11.7rem;
      height: 8.9rem;
      position: relative;
      background-size: 100% 130.92%;
      background-position: -0rem -0.6383rem;
      background-image: url('REPLACE_IMAGE:6e4bcacaf141149e7a30ca8b3c4c260a2fc8bf4a');
      flex-shrink: 0;
    }
    .auto-group-8f6b-FAT {
      box-sizing: border-box;
      padding: 3.1rem 0rem 1rem 2rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .component-1-mPh {
        padding-left: 0.3rem;
        width: 9.8rem;
        white-space: nowrap;
        margin-right: 13.7rem;
        box-sizing: border-box;
        height: 100%;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.032rem;
        color: #000000;
        font-family: Newsreader, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .home-3c7 {
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.2999999523;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 4.6rem 2.1rem 0rem;
      }
      .services-aVZ {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 4.6rem 2.1rem 0rem;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #000000;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.2999999523;
        white-space: nowrap;
      }
      .newsletter-6D1 {
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2999999523;
        color: #000000;
        margin: 0rem 4.6rem 2.1rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .what-we-do-155 {
        margin-bottom: 2.1rem;
        justify-content: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2999999523;
        white-space: nowrap;
      }
    }
  }
  .description-KLf {
    height: 2.2rem;
    left: 66.9rem;
    top: 193.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 10.1rem;
    position: absolute;
    font-size: 1.6rem;
    line-height: 1.375;
    white-space: nowrap;
  }
  .auto-group-fgck-1zB {
    height: 12rem;
    position: absolute;
    left: 34.2rem;
    top: 46.5rem;
    width: 74.8rem;

    .we-offer-specialized-in-person-and-online-training-sessions-covering-a-broad-array-of-subject-areas-including-but-not-limited-to-darknet-investigations-osint-and-humint-to-view-a-summary-of-the-courses-we-can-offer-upon-request-click-the-button-below-these-can-all-be-tailored-based-on-experience-level-and-individual-requirements-kB5 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2999999523;
      font-family: Inter, 'Source Sans Pro';
      height: 10.4rem;
      left: 0;
      top: 1.6rem;
      color: #000000;
      width: 74.8rem;
      position: absolute;
      display: flex;
    }
    .trainings--giw {
      height: 2.1rem;
      position: absolute;
      display: flex;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 7rem;
      left: 0;
      top: 0;
      font-size: 1.6rem;
      line-height: 1.2999999523;
      white-space: nowrap;
    }
  }
  .see-all-trainings--PNT {
    width: 13.3rem;
    position: absolute;
    left: 34.2rem;
    top: 59rem;
    display: flex;
    font-size: 1.6rem;
    color: #000000;
    white-space: nowrap;
    height: 2.1rem;
    font-weight: 400;
    line-height: 1.2999999523;
    font-family: Inter, 'Source Sans Pro';
  }
  .our-team-is-experienced-in-humint-and-osint-around-the-world-we-can-offer-both-intelligence-and-operational-support-on-the-ground-and-online-in-real-time-to-assist-your-operations-furthermore-our-team-members-are-registered-private-investigators-in-the-state-of-virginia-in-the-united-states-please-contact-us-for-further-inquiry-on-these-details-61y {
    width: 75.7rem;
    font-weight: 400;
    line-height: 1.2999999523;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    font-size: 1.6rem;
    color: #000000;
    height: 8.4rem;
    position: absolute;
    left: 34.2rem;
    top: 67.5rem;
  }
  .looking-for-a-dynamic-speaker-for-your-upcoming-event-or-a-captivating-guest-for-your-podcast-rest-assured-your-audience-is-in-capable-hands-when-our-team-takes-the-stage-we-are-enthusiastic-about-sharing-our-research-and-expertise-at-various-events-to-bring-us-to-your-next-occasion-or-podcast-episode-simply-click-the-button-below-ehh {
    font-weight: 400;
    color: #000000;
    height: 8.4rem;
    top: 81.9rem;
    font-size: 1.6rem;
    display: flex;
    line-height: 1.2999999523;
    font-family: Inter, 'Source Sans Pro';
    width: 75.5rem;
    position: absolute;
    left: 34.2rem;
  }
  .let-us-support-you-in-identifying-gathering-and-assessing-information-through-analytical-tools-and-link-mapping-to-uncover-relationships-patterns-trends-indicators-and-warnings-addressing-intelligence-gaps-our-team-with-proven-experience-specializes-in-delivering-actionable-intelligence-products-to-authorities-investigating-human-trafficking-and-other-forms-of-exploitation-these-comprehensive-intelligence-packages-provide-investigators-with-all-the-necessary-information-to-reproduce-evidence-during-the-prosecution-phase-RM5 {
    top: 97.05rem;
    font-size: 1.6rem;
    color: #000000;
    width: 75.6rem;
    position: absolute;
    left: 34.2rem;
    line-height: 1.2999999523;
    font-family: Inter, 'Source Sans Pro';
    height: 12.5rem;
    display: flex;
    font-weight: 400;
  }
  .speaking-conferences--vBM {
    left: 34.2rem;
    top: 78.9rem;
    display: flex;
    line-height: 1.2999999523;
    color: #000000;
    width: 18.6rem;
    height: 2.1rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    font-size: 1.6rem;
  }
  .speaking-conferences--Dw9 {
    line-height: 1.2999999523;
    width: 18.6rem;
    left: 34.2rem;
    top: 64.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    display: flex;
  }
  .intelligence-packages--wMM {
    position: absolute;
    top: 94rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    left: 34.2rem;
    display: flex;
    line-height: 1.2999999523;
    width: 16.9rem;
  }
  .image-2-eFm {
    border-radius: 5.5rem;
    width: 58.3rem;
    height: 57.8rem;
    position: absolute;
    left: 44rem;
    top: 122.4rem;
    object-fit: cover;
    vertical-align: top;
  }
}
