
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.homepage-Wt3 {
  box-sizing: border-box;
  padding: 2.2rem 9.6rem 5rem 9.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.homepage-Wt3 .header-Pgw {
  margin: 0rem 37.7rem 3.1rem 7.6rem;
  width: calc(100% - 45.3rem);
  height: 8.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .image-1-G8T {
  width: 11.7rem;
  height: 8.9rem;
  position: relative;
  background-size: 100% 130.92%;
  background-position: -0rem -0.6383rem;
  background-image: url('../assets/image-1.png');
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .auto-group-upkj-Y5y {
  box-sizing: border-box;
  padding: 3.1rem 0rem 1rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .auto-group-upkj-Y5y .component-1-TTq {
  margin-right: 13.7rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: 9.8rem;
  height: 100%;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.032rem;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .auto-group-upkj-Y5y .home-7oH {
  margin: 0rem 4.6rem 2.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .auto-group-upkj-Y5y .services-cV9 {
  margin: 0rem 4.6rem 2.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .auto-group-upkj-Y5y .newsletter-vkj {
  margin: 0rem 4.6rem 2.1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .header-Pgw .auto-group-upkj-Y5y .what-we-do-RBh {
  margin-bottom: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-cfnb-jCP {
  margin: 0rem 12.9rem 6.9rem 16.9rem;
  width: calc(100% - 29.8rem);
  height: 20.4rem;
  position: relative;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj {
  width: 92rem;
  height: 15.4rem;
  position: absolute;
  left: 0;
  top: 5rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-0 {
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  font-style: italic;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-2 {
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-3 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  font-style: italic;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-4 {
}
.homepage-Wt3 .auto-group-cfnb-jCP .were-navigating-the-shadows-where-your-vision-fades-FAj .were-navigating-the-shadows-where-your-vision-fades-FAj-sub-5 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  font-style: italic;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
}
.homepage-Wt3 .auto-group-cfnb-jCP .frame-1-Kbq {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 84.8rem;
  top: 0;
  overflow: hidden;
}
.homepage-Wt3 .newsletter-page-rbm {
  margin: 0rem 0.1rem 6.9rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2999999523;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .screenshot-2024-01-13-112006-1-xuh {
  margin: 0rem 0.2rem 30.7rem 0rem;
  width: 73.6rem;
  height: 73.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 36.8rem;
  flex-shrink: 0;
}
.homepage-Wt3 .thanks-for-subscribing--f3R {
  margin: 0rem 0.2rem 30.8rem 0rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .description-9zB {
  margin: 0rem 0.3rem 5.8rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .frame-38-2HH {
  margin: 0.4rem 29.7rem 0rem 0rem;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .frame-38-2HH .item--MaT {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .frame-38-2HH .description-g6w {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .frame-38-2HH .description-RKR {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .frame-38-2HH .description-y63 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .social-media-7i3 {
  margin: 0.4rem 27rem 0rem 0rem;
  box-sizing: border-box;
  padding-right: 0.0762rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .social-media-7i3 .instagram-Enf {
  margin-right: 3.2rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .social-media-7i3 .twitter-AwD {
  margin-right: 3.2738rem;
  width: 2.4rem;
  height: 1.95rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .social-media-7i3 .linkedin-6ps {
  margin-bottom: 0.0056rem;
  width: 2.25rem;
  height: 2.1506rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homepage-Wt3 .auto-group-xmqd-gDR .auto-group-wfqu-2iX {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding-left: 13.4rem;
  height: 2.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
